In [1]:
import pandas as pd
import datetime

In [2]:
!dir inputs

 Volume in drive D has no label.
 Volume Serial Number is F6A2-5568

 Directory of D:\PythonTraining\Trading\ipynb\inputs

2021/05/04  21:14    <DIR>          .
2021/05/04  21:14    <DIR>          ..
2021/05/04  21:14                48 .gitignore
2021/05/02  12:30           677,304 NI225_M15.csv
2021/05/02  12:30                87 NI225_M15.csv.dvc
2021/05/04  21:35         4,900,839 USDJPY15.csv
2021/05/04  21:14                86 USDJPY15.csv.dvc
2021/05/11  19:46         1,687,454 USDJPY_M15.csv
2021/05/04  17:24                89 USDJPY_M15.csv.dvc
               7 File(s)      7,265,907 bytes
               2 Dir(s)  460,873,637,888 bytes free

In [3]:
data = pd.read_csv('inputs/USDJPY_M15.csv', sep='\t', names=('date', 'time', 'open', 'high', 'low', 'close'), usecols=[0, 1, 2, 3, 4, 5], skiprows=1)
# data = pd.read_csv('inputs/USDJPY15.csv', names=('date', 'time', 'open', 'high', 'low', 'close'), usecols=[0, 1, 2, 3, 4, 5], skiprows=1)
data['datetime'] = pd.to_datetime(data['date']  + ' ' + data['time'])
data.drop(['date', 'time'], axis=1, inplace=True)
data['time'] = data['datetime'].apply(lambda x: int(x.timestamp()))
data.drop(['datetime'], axis=1, inplace=True)
data['currency'] = 'USDJPY'
data['period'] = '15'
data['id'] = ''
data = data[:-1]
data

          open     high      low    close        time currency period id
0      107.525  107.552  107.470  107.537  1585699200   USDJPY     15
1      107.537  107.555  107.514  107.540  1585700100   USDJPY     15
2      107.540  107.563  107.523  107.523  1585701000   USDJPY     15
3      107.523  107.527  107.509  107.509  1585701900   USDJPY     15
4      107.509  107.551  107.480  107.551  1585702800   USDJPY     15
...        ...      ...      ...      ...         ...      ...    ... ..
27601  108.837  108.873  108.832  108.873  1620736200   USDJPY     15
27602  108.873  108.873  108.837  108.843  1620737100   USDJPY     15
27603  108.841  108.854  108.746  108.767  1620738000   USDJPY     15
27604  108.768  108.774  108.666  108.698  1620738900   USDJPY     15
27605  108.698  108.736  108.693  108.728  1620739800   USDJPY     15

[27606 rows x 8 columns]

In [4]:
data[['currency', 'period', 'time', 'open', 'high', 'low', 'close']][-1000:].reset_index(drop=True)

    currency period        time     open     high      low    close
0     USDJPY     15  1619495100  108.176  108.187  108.099  108.131
1     USDJPY     15  1619496000  108.131  108.206  108.128  108.201
2     USDJPY     15  1619496900  108.201  108.288  108.200  108.277
3     USDJPY     15  1619497800  108.277  108.300  108.235  108.275
4     USDJPY     15  1619498700  108.276  108.346  108.261  108.316
..       ...    ...         ...      ...      ...      ...      ...
995   USDJPY     15  1620736200  108.837  108.873  108.832  108.873
996   USDJPY     15  1620737100  108.873  108.873  108.837  108.843
997   USDJPY     15  1620738000  108.841  108.854  108.746  108.767
998   USDJPY     15  1620738900  108.768  108.774  108.666  108.698
999   USDJPY     15  1620739800  108.698  108.736  108.693  108.728

[1000 rows x 7 columns]

In [5]:
data[['currency', 'period', 'time', 'open', 'high', 'low', 'close']][-1000:].reset_index(drop=True).to_csv('data.csv')