In [1]:
!pip install mpl_finance
!conda install -c conda-forge ta-lib
# https://optrip.xyz/?p=2242

Requirement already satisfied: mpl_finance in c:\users\yanai\anaconda3\lib\site-packages (0.10.1)
Requirement already satisfied: matplotlib in c:\users\yanai\anaconda3\lib\site-packages (from mpl_finance) (3.3.4)
Requirement already satisfied: numpy>=1.15 in c:\users\yanai\anaconda3\lib\site-packages (from matplotlib->mpl_finance) (1.21.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\yanai\anaconda3\lib\site-packages (from matplotlib->mpl_finance) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\yanai\anaconda3\lib\site-packages (from matplotlib->mpl_finance) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\yanai\anaconda3\lib\site-packages (from matplotlib->mpl_finance) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\yanai\anaconda3\lib\site-packages (from matplotlib->mpl_finance) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\yanai\anaconda3\lib\site-packages (from matplotlib->mpl_finance) (0.10.0)
Requirement already satisfied: six in c:\users\yanai\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->mpl_finance) (1.15.0)
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [2]:
import pandas as pd
# import mpl_finance as mpf
import talib as ta

In [3]:
!dir datas

 ドライブ C のボリューム ラベルがありません。
 ボリューム シリアル番号は 5AD7-2869 です

 C:\Users\yanai\OneDrive\ドキュメント\Python Scripts\Trading\oanda_fx\datas のディレクトリ

2022/02/19  16:38    <DIR>          .
2022/02/19  16:38    <DIR>          ..
2022/02/06  12:42        37,948,706 US100_M1_201605300000_202202042359.csv
2022/02/06  12:46        34,383,223 US500_M1_201605270000_202202042359.csv
2022/02/19  14:56       141,820,413 USDJPY_M1_201601040000_202202182359.csv
               3 個のファイル         214,152,342 バイト
               2 個のディレクトリ  84,429,205,504 バイトの空き領域

In [9]:
df_ohlcv = pd.read_csv('datas/USDJPY_M1_201601040000_202202182359.csv', sep='\t', names=['date', 'time', 'open', 'high', 'low', 'close', 'tickvol', 'vol','spread'], skiprows=1)
df_ohlcv

,date,time,open,high,low,close,tickvol,vol,spread
0,2016.01.04,00:00:00,120.196,120.196,120.196,120.196,2,4000000,46
1,2016.01.04,00:01:00,120.195,120.195,120.195,120.195,1,3000000,46
2,2016.01.04,00:02:00,120.200,120.205,120.200,120.205,2,2000000,29
3,2016.01.04,00:04:00,120.207,120.207,120.206,120.206,2,2000000,29
4,2016.01.04,00:05:00,120.207,120.217,120.197,120.203,15,13250000,15
...,...,...,...,...,...,...,...,...,...
2282351,2022.02.18,23:55:00,115.020,115.043,115.001,115.020,151,0,21
2282352,2022.02.18,23:56:00,115.020,115.030,115.002,115.030,181,0,23
2282353,2022.02.18,23:57:00,115.029,115.042,115.016,115.036,51,0,23
2282354,2022.02.18,23:58:00,115.036,115.036,114.983,115.018,56,0,24
2282355,2022.02.18,23:59:00,115.019,115.031,114.985,114.985,58,0,24

In [12]:
df_ohlcv['datetime'] = df_ohlcv['date'] + ' ' + df_ohlcv['time']
df_ohlcv['datetime'] = pd.to_datetime(df_ohlcv['datetime'], format='%Y.%m.%d %H:%M:%S')
df_ohlcv['weekday'] = df_ohlcv['datetime'].dt.weekday

df_ohlcv['weekday'] = df_ohlcv['datetime'].dt.weekday

df_ohlcv['sma20'] = ta.SMA(df_ohlcv['close'], timeperiod=20)
df_ohlcv['sma50'] = ta.SMA(df_ohlcv['close'], timeperiod=50)
df_ohlcv['sma100'] = ta.SMA(df_ohlcv['close'], timeperiod=100)

df_ohlcv['macd'], df_ohlcv['macdsignal'], df_ohlcv['macdhist'] = ta.MACD(df_ohlcv['close'], fastperiod=12, slowperiod=26, signalperiod=9)
df_ohlcv['bb_2_upper'], df_ohlcv['bb_2_mid'], df_ohlcv['bb_2_lower'] = ta.BBANDS(df_ohlcv['close'], timeperiod=21, nbdevup=2, nbdevdn=2, matype=0)
df_ohlcv['macd'], df_ohlcv['macdsignal'], df_ohlcv['macdhist'] = ta.MACD(df_ohlcv['close'], fastperiod=12, slowperiod=26, signalperiod=9)
df_ohlcv['slowk'], df_ohlcv['slowd'] = ta.STOCH(df_ohlcv['high'], df_ohlcv['low'], df_ohlcv['close'], fastk_period=5, slowk_period=3, slowk_matype=0, slowd_period=3, slowd_matype=0)

df_ohlcv['diff_hc'] = df_ohlcv['high'] - df_ohlcv['close']
df_ohlcv['diff_cl'] = df_ohlcv['close'] - df_ohlcv['low']

df_ohlcv

,date,time,open,high,low,close,tickvol,vol,spread,datetime,...,macdsignal,macdhist,bb_2_upper,bb_2_mid,bb_2_lower,slowk,slowd,diff_hl,diff_hc,diff_cl
0,2016.01.04,00:00:00,120.196,120.196,120.196,120.196,2,4000000,46,2016-01-04 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0.000
1,2016.01.04,00:01:00,120.195,120.195,120.195,120.195,1,3000000,46,2016-01-04 00:01:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0.000
2,2016.01.04,00:02:00,120.200,120.205,120.200,120.205,2,2000000,29,2016-01-04 00:02:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.005,0.000,0.005
3,2016.01.04,00:04:00,120.207,120.207,120.206,120.206,2,2000000,29,2016-01-04 00:04:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.001,0.001,0.000
4,2016.01.04,00:05:00,120.207,120.217,120.197,120.203,15,13250000,15,2016-01-04 00:05:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.020,0.014,0.006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2282351,2022.02.18,23:55:00,115.020,115.043,115.001,115.020,151,0,21,2022-02-18 23:55:00,...,-0.002619,-0.002614,115.068776,115.048286,115.027795,28.919418,41.498559,0.042,0.023,0.019
2282352,2022.02.18,23:56:00,115.020,115.030,115.002,115.030,181,0,23,2022-02-18 23:56:00,...,-0.003253,-0.002533,115.068871,115.047143,115.025415,27.912295,30.561112,0.028,0.000,0.028
2282353,2022.02.18,23:57:00,115.029,115.042,115.016,115.036,51,0,23,2022-02-18 23:57:00,...,-0.003737,-0.001936,115.067897,115.046143,115.024389,47.233587,34.688433,0.026,0.006,0.020
2282354,2022.02.18,23:58:00,115.036,115.036,114.983,115.018,56,0,24,2022-02-18 23:58:00,...,-0.004381,-0.002576,115.068675,115.044333,115.019992,53.165790,42.770557,0.053,0.018,0.035
2282355,2022.02.18,23:59:00,115.019,115.031,114.985,114.985,58,0,24,2022-02-18 23:59:00,...,-0.005608,-0.004908,115.075196,115.040857,115.006518,37.892720,46.097366,0.046,0.046,0.000

In [13]:
df_ohlcv[df_ohlcv['diff_hc'] > diff_hc['diff_cl']? diff_hc['diff_hc']: diff_hc['diff_cl']]

SyntaxError: invalid syntax (<ipython-input-13-789b18694d34>, line 1)

In [ ]:
df_ohlcv = df_ohlcv.drop(['date', 'time', 'vol', 'spread'], axis=1)
df_ohlcv