In [33]:
import pandas as pd

In [34]:
!dir inputs

 Volume in drive D has no label.
 Volume Serial Number is F6A2-5568

 Directory of D:\PythonTraining\Trading\ipynb\inputs

2021/05/27  20:48    <DIR>          .
2021/05/27  20:48    <DIR>          ..
2021/05/04  21:14                48 .gitignore
2021/05/27  20:44         1,767,851 EURJPY_M15_202004010000_202105271430.csv
2021/05/27  20:43         1,762,809 EURUSD_M15_202004010000_202105271430.csv
2021/05/27  20:44         1,773,816 GBPJPY_M15_202004010000_202105271430.csv
2021/05/27  20:44         1,765,556 GBPUSD_M15_202004010000_202105271430.csv
2021/05/02  12:30           677,304 NI225_M15.csv
2021/05/02  12:30                87 NI225_M15.csv.dvc
2021/05/04  21:35         4,900,839 USDJPY15.csv
2021/05/04  21:14                86 USDJPY15.csv.dvc
2021/05/23  20:00           439,725 USDJPY_H1.csv
2021/05/17  19:31         1,710,870 USDJPY_M15.csv
2021/05/04  17:24                89 USDJPY_M15.csv.dvc
2021/05/27  20:43         1,758,033 USDJPY_M15_202004010000_202105271430.csv
2021/05/19  22:26         5,136,190 USDJPY_M5.csv
              14 File(s)     21,693,303 bytes
               2 Dir(s)  460,033,757,184 bytes free

In [35]:
eurjpy = pd.read_csv('inputs/EURJPY_M15_202004010000_202105271430.csv', sep='\t')
eurusd = pd.read_csv('inputs/EURUSD_M15_202004010000_202105271430.csv', sep='\t')
gbpjpy = pd.read_csv('inputs/GBPJPY_M15_202004010000_202105271430.csv', sep='\t')
gbpusd = pd.read_csv('inputs/GBPUSD_M15_202004010000_202105271430.csv', sep='\t')
usdjpy = pd.read_csv('inputs/USDJPY_M15_202004010000_202105271430.csv', sep='\t')
eurjpy.shape, eurusd.shape, gbpjpy.shape, gbpusd.shape, usdjpy.shape

((28763, 9), (28763, 9), (28763, 9), (28761, 9), (28762, 9))

In [36]:
usdjpy.tail()

,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<VOL>,<SPREAD>
28757,2021.05.27,13:30:00,109.135,109.187,109.133,109.177,627,0,1
28758,2021.05.27,13:45:00,109.177,109.182,109.145,109.147,520,0,1
28759,2021.05.27,14:00:00,109.146,109.157,109.098,109.116,1087,0,1
28760,2021.05.27,14:15:00,109.116,109.157,109.082,109.150,935,0,1
28761,2021.05.27,14:30:00,109.153,109.165,109.127,109.161,734,0,1

In [37]:
eurjpy.tail()

,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<VOL>,<SPREAD>
28758,2021.05.27,13:30:00,133.201,133.252,133.167,133.248,1089,0,1
28759,2021.05.27,13:45:00,133.249,133.260,133.216,133.216,871,0,1
28760,2021.05.27,14:00:00,133.216,133.228,133.143,133.158,1682,0,1
28761,2021.05.27,14:15:00,133.158,133.226,133.155,133.204,1397,0,1
28762,2021.05.27,14:30:00,133.206,133.215,133.163,133.197,1156,0,1

In [38]:
gbpusd.tail()

,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<VOL>,<SPREAD>
28756,2021.05.27,13:30:00,1.41353,1.41375,1.41317,1.41333,1352,0,1
28757,2021.05.27,13:45:00,1.41334,1.41366,1.41238,1.41248,1533,0,1
28758,2021.05.27,14:00:00,1.41250,1.41787,1.41201,1.41695,2858,0,1
28759,2021.05.27,14:15:00,1.41696,1.41832,1.41680,1.41788,2124,0,1
28760,2021.05.27,14:30:00,1.41787,1.41813,1.41696,1.41773,1550,0,1

In [39]:
# eurjpy['time'] = pd.to_datetime(eurjpy.iloc[:,0] + ' ' + eurjpy.iloc[:,1])
# eurusd['time'] = pd.to_datetime(eurusd.iloc[:,0] + ' ' + eurusd.iloc[:,1])
# gbpjpy['time'] = pd.to_datetime(gbpjpy.iloc[:,0] + ' ' + gbpjpy.iloc[:,1])
# gbpusd['time'] = pd.to_datetime(gbpusd.iloc[:,0] + ' ' + gbpusd.iloc[:,1])
# usdjpy['time'] = pd.to_datetime(usdjpy.iloc[:,0] + ' ' + usdjpy.iloc[:,1])

In [40]:
for curr in [eurjpy, eurusd, gbpjpy, gbpusd, usdjpy]:
#     print(curr.shape)
    curr['time'] = pd.to_datetime(curr.iloc[:,0] + ' ' + curr.iloc[:,1])

In [41]:
eurjpy

,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<VOL>,<SPREAD>,time
0,2020.04.01,00:00:00,118.583,118.672,118.565,118.666,55,0,77,2020-04-01 00:00:00
1,2020.04.01,00:15:00,118.666,118.672,118.604,118.672,35,0,93,2020-04-01 00:15:00
2,2020.04.01,00:30:00,118.672,118.700,118.625,118.625,94,0,88,2020-04-01 00:30:00
3,2020.04.01,00:45:00,118.625,118.642,118.526,118.584,40,0,94,2020-04-01 00:45:00
4,2020.04.01,01:00:00,118.584,118.687,118.582,118.632,874,0,8,2020-04-01 01:00:00
...,...,...,...,...,...,...,...,...,...,...
28758,2021.05.27,13:30:00,133.201,133.252,133.167,133.248,1089,0,1,2021-05-27 13:30:00
28759,2021.05.27,13:45:00,133.249,133.260,133.216,133.216,871,0,1,2021-05-27 13:45:00
28760,2021.05.27,14:00:00,133.216,133.228,133.143,133.158,1682,0,1,2021-05-27 14:00:00
28761,2021.05.27,14:15:00,133.158,133.226,133.155,133.204,1397,0,1,2021-05-27 14:15:00
28762,2021.05.27,14:30:00,133.206,133.215,133.163,133.197,1156,0,1,2021-05-27 14:30:00

In [42]:
for curr in [eurjpy, eurusd, gbpjpy, gbpusd, usdjpy]:
#     print(curr.shape)
    curr = curr.drop(['<DATE>', '<TIME>', '<VOL>'], axis=1)
    curr.columns = ['open', 'high', 'low', 'close', 'tickvol', 'spread', 'time']

In [43]:
# eurjpy = eurjpy.drop(['<DATE>', '<TIME>', '<VOL>'], axis=1)
# eurjpy.columns = ['open', 'high', 'low', 'close', 'tickvol', 'spread', 'time']

In [44]:
eurjpy

          open     high      low    close  tickvol  spread                time
0      118.583  118.672  118.565  118.666       55      77 2020-04-01 00:00:00
1      118.666  118.672  118.604  118.672       35      93 2020-04-01 00:15:00
2      118.672  118.700  118.625  118.625       94      88 2020-04-01 00:30:00
3      118.625  118.642  118.526  118.584       40      94 2020-04-01 00:45:00
4      118.584  118.687  118.582  118.632      874       8 2020-04-01 01:00:00
...        ...      ...      ...      ...      ...     ...                 ...
28758  133.201  133.252  133.167  133.248     1089       1 2021-05-27 13:30:00
28759  133.249  133.260  133.216  133.216      871       1 2021-05-27 13:45:00
28760  133.216  133.228  133.143  133.158     1682       1 2021-05-27 14:00:00
28761  133.158  133.226  133.155  133.204     1397       1 2021-05-27 14:15:00
28762  133.206  133.215  133.163  133.197     1156       1 2021-05-27 14:30:00

[28763 rows x 7 columns]